{% load humanize %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Sign in </title>
    <meta name="description"
        content="Lumistakes is a trading platform that offers online trading of complex derivative cryptocurrencies with leverage and copy trading. Log in to your personal area to access your accounts, deposit or withdraw funds, and claim bonuses.">
    <meta name="keywords"
        content="Crypto, Cryptocurrency, best cryptocurrency, best performing crypto, best exchange 2025, worldwide trading, investments, how to invest safely, how to invest, how to invest online, how to invest, 2025, best cryptocurrency, how to withdraw crypto, buy crypto, sell crypto, convert crypto" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}" sizes="32x3">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/icon/192x192.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="manifest" href="{% static '__manifest.json' %}">
    <style>
        .google-signin {
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: black;
            overflow: hidden;
        }

        .circle {
            background: white;
            color: black;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            font-weight: bold;
            z-index: 2;
            flex-shrink: 0;
        }

        .rectangle {
            background: white;
            color: black;
            border-radius: 0 25px 25px 0;
            padding: 10px 20px;
            font-size: 18px;
            letter-spacing: 2px;
            white-space: nowrap;
            transform: translateX(-100%);
            margin-left: -10px;
            transition: transform 0.5s cubic-bezier(0.25, 1.5, 0.5, 1);
        }

        .expanded .rectangle {
            transform: translateX(0);
        }
    </style>
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="{% static 'assets/img/loading-icon.png' %}" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader no-border transparent position-absolute">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle"></div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section mt-2 text-center">
            <h1>Welcome back</h1>
            <h4>Enter your Lumis X email and password</h4>
        </div>
        <div class="section mb-5 p-2">

            <form id="loginForm" action="#">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body pb-1">
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="email1">E-mail</label>
                                <input name="email" type="email" class="form-control" id="email1" placeholder="Your e-mail">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>

                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="password1">Password</label>
                                <input name="password" type="password" class="form-control" id="password1" autocomplete="off"
                                    placeholder="Your password">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-links mt-2">
                    <div> Don't have an account? 
                        <a href="{% url 'signup' %}">Register Now</a>
                    </div>
                    <div><a href="{% url 'password_reset' %}" class="text-muted">Forgot Password?</a></div>
                </div>

                <div class="form-button-group transparent">
                    <button {% if disable %}disabled{% endif %} id="submit-button" type="submit" class="btn btn-primary btn-block btn-lg">{% if disable %}Disabled, try later {% else %}Log in {% endif %}</button>
                </div>
                
            </form>
            <a data-url="{% url 'social:begin' 'google-oauth2' %}"  href="#" class="google-signin" id="signinButton">
                <div class="circle"><img height="30" width="30" src="{% static 'assets/img/icon/google-icon.png' %}" alt=""></div>
                <div class="rectangle">SIGN IN WITH GOOGLE <div style="display: none;" id="googleLoader" class="spinner-border spinner-border-sm text-success" role="status"></div></div>
            </a>
        </div>

    </div>
    <!-- * App Capsule -->


    <!-- Alert Success Action Sheet -->
    <div class="modal fade action-sheet" id="successModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="action-sheet-content">
                        <div class="iconbox text-success">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </div>
                        <div class="text-center p-2">
                            <h3>Success</h3>
                            <p class="message">Authentication successful, fetching your balances, please wait...</p>
                        </div>
                        <!-- <a href="#" class="btn btn-primary btn-lg btn-block" data-bs-dismiss="modal">Done</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Alert Success Action Sheet :data-bs-toggle="modal" data-bs-target="#successModal" -->
    
    <!-- Alert Error Action Sheet -->
    <div class="modal fade action-sheet" id="responseModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="action-sheet-content">
                        <div class="iconbox text-danger">
                            <ion-icon name="alert-circle"></ion-icon>
                        </div>
                        <div class="text-center p-2">
                            <h3>Error</h3>
                            <p class="message">Something went wrong.</p>
                        </div>
                        <a id="action-button" href="#" class="btn btn-primary btn-lg btn-block" data-bs-dismiss="modal">Done</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Alert Error Action Sheet -->


    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/lib/bootstrap.bundle.min.js' %}"></script>
    <!-- Ionicons -->
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="{% static 'assets/js/plugins/splide/splide.min.js' %}"></script>
    <!-- Base Js File -->
    <script src="{% static 'assets/js/base.js' %}"></script>

    <!-- Custom Script -->
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        const form = document.getElementById('loginForm');
        const preloader = document.getElementById('loader');
        const submitButton = document.getElementById('submit-button');
        const actionCanvas = document.getElementById('successModal');
        const responseCanvas = document.getElementById('responseModal');
        const next = new URLSearchParams(window.location.search).get('next') || '{% url "home" %}';

        form.addEventListener('submit', async function (e) {
            e.preventDefault();
            loader.style.display = 'flex';
            submitButton.style.display = 'none';

            const formElements = this.elements;
            if (!formElements['email'].value || !formElements['password'].value) {
                reset(submitButton, preloader)
                formElements['email'].placeholder = 'Enter a valid email address';
                formElements['password'].placeholder = 'Enter your password';
                return false;
            }
            const formData = new FormData(form)
            setTimeout(async () => {
                try {
                    const authentication = await fetch('{% url "signin" %}', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': csrftoken
                        }
                    })
                    const authenticationResult = await authentication.json();
                    if (!authenticationResult.success) {
                        if (authenticationResult.admin) {
                            window.location.href = authenticationResult.admin;
                        }
                        if (authenticationResult.verify) {
                            const email = authenticationResult.email;
                            sessionStorage.setItem('email', email);
                            const url = '{% url "email-verification" %}'
                            let message = responseCanvas.querySelector('.message');
                            message.innerHTML = authenticationResult.verify;
                            let button = responseCanvas.querySelector('#action-button');
                            button.innerHTML = 'Verify Email';
                            button.addEventListener('click', () => {
                                window.location.href = url;
                            }, { once: true });
                            showModal(responseCanvas.id, 60000);
                            return false;
                        }
                        else if (authenticationResult.error) {
                            if (authenticationResult.disable) {
                                responseCanvas.querySelector('.message').innerHTML = authenticationResult.error;
                                showModal(responseCanvas.id, 5000);
                                setTimeout(() => window.location.reload(), 3200)
                                return false;
                            }
                            responseCanvas.querySelector('.message').innerHTML = authenticationResult.error;
                            showModal(responseCanvas.id, 5000);
                            return false;
                        }
                    }
                    else {
                        actionCanvas.querySelector('.message').style.color = 'green';
                        actionCanvas.querySelector('.message').innerHTML = authenticationResult.success;
                        showModal(actionCanvas.id, 5000);
                        
                        setTimeout(() => window.location.href = next, 1300)

                    }

                } catch (e) {
                    console.error(e);
                    responseCanvas.querySelector('.message').innerHTML = 'Something went wrong.';
                    showModal(responseCanvas.id, 5000);
                    return false;
                }
                finally {
                    setTimeout(() => reset(submitButton, preloader), 1200);
                    formElements['password'].value = '';
                }
            }, 1200)
        });

        function showModal(modalID, timeout) {
            const modal = new bootstrap.Modal(document.getElementById(modalID));
            modal.show();
            setTimeout(() => modal.hide(), timeout);
        }

        function reset(button, preloader) {
            button.style.display = 'block';
            preloader.style.display = 'none';
        }
    
        const signinButton = document.getElementById('signinButton');
        let expanded = false;

        signinButton.addEventListener('click', function(e) {
            if (!expanded) {
                e.preventDefault();
                signinButton.classList.add('expanded');
                expanded = true;
            } else {
                e.preventDefault();
                const next = new URLSearchParams(window.location.search).get('next') || '{% url "home" %}';
                const loginUrl = this.dataset.url + '?next=' + encodeURIComponent(next);
                const googleLoader = document.getElementById('googleLoader');
                googleLoader.style.display = 'inline-block';
                window.location.href = loginUrl;
            }
        });
    

        // Request location Permission

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
        function successCallback(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            fetch(`https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=${latitude}&longitude=${longitude}&localityLanguage=en`)
                .then(response => response.json())
                .then(data => {
                    const nationality = data.countryName;
                    console.log('User\'s nationality:', nationality);
                    sessionStorage.setItem('nationality', nationality);
                    let url = "{% url 'getcountry' 'c' %}";
                    url = url.replace("c", nationality);
                    fetch(url)
                    .then(response => response.json())
                    .then(data => {
                            if (data.success) {} else {console.log(data.error);}
                     })
                    .catch(error => console.log(error));
                })
                .catch(error => {
                    console.log('Error fetching location data:', error);
                });
        }

        function errorCallback(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    console.log("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    console.log("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    console.log("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    console.log("An unknown error occurred.");
                    break;
            }
            console.log('Error getting location:', error);
        }

    </script>

    


</body>
</html>