{% load custom_filters %}
{% load humanize %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="theme-color" content="#000000">
        <title>Terms & Conditions </title>
        <meta name="description"
            content="Lumistakes is a trading platform that offers online trading of complex derivative cryptocurrencies with leverage and copy trading. Log in to your personal area to access your accounts, deposit or withdraw funds, and claim bonuses.">
        <meta name="keywords"
            content="Crypto, Cryptocurrency, best cryptocurrency, best performing crypto, best exchange 2025, worldwide trading, investments, how to invest safely, how to invest, how to invest online, how to invest, 2025, best cryptocurrency, how to withdraw crypto, buy crypto, sell crypto, convert crypto" />
        <meta name="author" content="Lumistakes Team" />
        <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}" sizes="32x3">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/icon/192x192.png' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="manifest" href="{% static '__manifest.json' %}">
    </head>
    <body>
        <div style="background-color: #696be1; color: #fff;" class="container">
            <div class="content-header d-flex align-items-center justify-content-between">
                <div class="navbar-btn">
                    <a href="javascript:history.back()">
                        <svg version="1.1" width="18" height="18" fill="currentColor" xmlns="http://www.w3.org/2000/svg" x="0px"
                            y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                            <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z" />
                        </svg>
                    </a>
                </div>
            </div>

            <header class="header">
                <h1>Terms and Conditions / Privacy Policy</h1>
                <p>Welcome to Lumis X terms and conditions. On this page, we have made available in very readable format, all the various terms and conditions for the use of any of our services. These are protocoled conditions and the continuous use of our services directly implies that you consent to our terms and conditions as well as privacy policy information. It is important that you do not skip a line in this page, read carefully to understand and do not hesitate to contact us if you need clarification on any section of our conditions outlined herein.</p>
            </header>
            <ol type="I">
                Jump To:
                <li>
                    <a href="#terms-section">
                        <h2>Terms of Service</h2>
                    </a>
                </li>
                <li>
                    <a href="#policy-section">
                        <h2>Privacy Policy</h2>
                    </a>
                </li>
            </ol>

            <section id="terms-section" class="section">
                <h2>Terms and Conditions</h2>
                <h5 class="">1.Information Collection and Use</h5>
                <ol type="a">
                    <p>
                        While using our site, we may ask you to provide us with certain personally identifiable information that can be
                        used to contact or identify you. Personally identifiable information may include but is not limited to:
                        <ol type="i">
                            <li>
                                <p>Device Name;</p>
                            </li>
                            <li>
                                <p>Device Unique Identifier;</p>
                            </li>
                            <li>
                                <p>contact information;</p>
                            </li>
                            <li>
                                <p>Device details (those made available by your browser/device); These informations cannot be used to personally identify you</p>
                            </li>
                        </ol>
                    </p>
                </ol>
                <h4 class="">2. Device Log Data</h4>
                <p>
                    Like many service providers, we collect information that your browser sends whenever you visit our site ("Log Data").
                    This Log Data may include but is not limited to information such as:
                <ol type="I">
                    <li>
                        <p>your computer's Internet Protocol ("IP") address</p>
                    </li>
                    <li>
                        <p>the time and date of your visit.</p>
                    </li>
                    <li>
                        <p>Browser type, version</p>
                    </li>
                    <li>
                        <p>the pages of our site that you visit</p>
                    </li>
                    <li>
                        <p>the time spent on those pages, and other statistics.</p>
                    </li>
                </ol>
                </p>
                    <h4 class="">3. Cookies & other browser informations.</h4>
                    <p>
                        We employ the use of cookies very strictly. By using our website or app, you consent to the use of cookies in accordance with our privacy policy. Most interactive websites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. 
                    </p>

                    <h4 class="">4. User Verification</h4>
                    <p>
                    As a Broad investment brokerage firm, we are committed to adhering to regulatory requirements. Given the system satisfaction score, you may be required to undergo additional verification processes in line with laws and regulations set forth by the relevant regulatory bodies. This may include the submission of additional documentation to ensure compliance with legal obligations. when this happens, the verification cost will be covered by the user as this verification process is handled by external agencies.
                    </p>
                    <h4 class="">5. Security</h4>
                    <p>
                        We take the security of our website seriously. Any unauthorized attempts to upload or change information, or otherwise
                        cause damage to this service, are strictly prohibited and may be punishable under applicable law.
                    <br>
                        By using Our website, you agree that we may collect and process your personal information as described.
                    </p>
                    <h6>Services and Fees</h6>
                    <p>You will incur any fees associated with any service you interact with. These fees may include transaction fees, virtual card activation fees. trading fees, and other relevant charges. You are responsible for paying these fees as they become due. You acknowledge that Lumistakes has no liability for any fees or charges incurred by you.</p>
                    <o>
                        <li>
                            If you use our proxy trading feature, you may incur losses or gains based on the performance of the asset being traded. You are responsible for understanding the risks involved in trading and managing your own risks
                        </li>
                        <li>
                            You must also ensure that you are compliant with all applicable laws and regulations in your jurisdiction when using this service.
                        </li>
                        <li>In some cases, you may be required to recharge your account to cover any fees incurred by you during the trade where your available balance is insufficient to cover the said accumulated fees.</li>
                        <br>
                        <em>breakdown</em>
                        <ol type="i">
                            {% for t, p in terms.items %}
                                <li>
                                    <h4>{{ t }}</h4>
                                    <p>{{ p }}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    </ul>
            </section>

            <section id="policy-section" class="section">
                <h2>Privacy Policies / User Data Integrity.</h2>
                <p class="mb-0 color-highlight font-12 bottom-10">Modified on 10 January, 2024</p>
                <p>
                    Here, we provide transparent informations about our privacy policies and how we prioritize user data integrity.
                </p>
                <div class="content">
                    <h4 class="mb-0">
                        1. How we collect informations.
                    </h4>
                    <p>
                        When you visit our Site, we automatically collect certain information about your device, including information
                        about your web browser, IP address, time zone, and some of the cookies that are installed on your device.
                        Additionally, as you browse the Site, we collect information about the individual web pages or products that you
                        view, what websites or search terms referred you to the Site, and information about how you interact with the
                        Site. We refer to this automatically-collected information as "Device Information."
                
                    <h5 class="mb-0">2. We collect this informations using.</h5>
                    <ol type="a">
                        <li>
                            <p>
                                <strong>Cookies</strong>
                            </p>
                            <p>
                                Cookies are small files that a site or its service provider transfers to your computer's hard drive
                                through your Web browser (if you allow) that enables the site's or service provider's systems to
                                recognize your browser and capture and remember certain information. For instance, we may use cookies to
                                help us remember and process your consent to the terms outline herein.
                            </p>
                        </li>
                    </ol>
                    </p>
                    <h4 class="mb-0">
                        3. How we use these informations.
                    </h4>
                    <p class="">
                        We use the Device Information that we collect to help us screen for potential risk and fraud (in particular,
                        your IP address), and more generally to improve and optimize our Site (for example, by generating analytics
                        about how our customers browse and interact with the Site).
                    </p>
                    <h4 class="mb-0">
                        4. Sharing your informations.
                    </h4>
                    <p class="">
                        We DO NOT share your personal information with third parties except as described in this Privacy Policy. We may
                        share your Device Information with third-party service providers, specifically (Google Analytics) who help us to
                        analyze our Site traffic and usage data. These service providers may have access to your Device Information only
                        to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose. These
                        informations do not expose any of your personal information or credentials provided during registration.
                    </p>
                    <h4 class="mb-0">
                        5. Your Rights.
                    </h4>
                    <p class="">
                        If you are a European resident, you have the right to access personal information we hold about you and to ask
                        that your personal information be corrected, updated, or deleted. If you would like to exercise this right,
                        please contact our support team..
                    </p>
                    <h4 class="mb-0">
                        6. Changes to these privacy policies.
                    </h4>
                    <p class="">
                        We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices
                        or for other operational, legal, or regulatory reasons.
                    </p>
                    <h4 class="">7. Contact Information</h4>
                    <p class="">
                        If you have any questions or concerns about these terms and conditions, please contact us through our
                        <a href="mailto:helpdesk247@lumistakes.com">SUPPORT MAIL</a>.
                        Thank you for choosing Lumistakes!!
                    </p>
                </div>
            </section>

            <footer>
                <p>&copy; <span id="yearEl"></span> Lumistakes. All rights reserved.</p>
            </footer>
        </div>
        <script>
            document.getElementById('yearEl').innerHTML = new Date().getFullYear();
        </script>
    </body>
</html>